set visualbell
set noerrorbells
set ignorecase
set smartcase
set scrolloff=10
set relativenumber
set number
set clipboard+=unnamed
let mapleader = " "
nn <leader>w <C-w><C-w>
nn <C-w> <C-w><C-w>
nmap <C-s> <action>(SaveDocument)
nmap <C-q> <action>(CloseContent)
nn <leader>S :wa <cr>
nn <leader>1 <C-^>
nn <leader><F3> :e ~\.ideavimrc<CR>
nn <Tab> :bn<cr>
nn <S-Tab> :bp<cr>
nn : ;
nn ; :
vn : ;
vn ; :
nn <leader>v <c-w>v

" :actionlist to view all actions
nmap gr <action>(ShowUsages)
nmap <leader>k <action>(QuickJavaDoc)
nmap <leader>] <action>(GotoNextError)
nmap <C-p> <action>(GotoFile)
nmap <leader>s <action>(FileStructurePopup)
nmap <leader>S <action>(GotoSymbol)
nmap <leader>f <action>(ReformatCode)
nmap <leader>r <action>(RenameElement)
nmap <leader>p <action>(OpenEditorInOppositeTabGroup)
nmap <leader>P <action>(MoveEditorToOppositeTabGroup)
